.btn {

	background-color:#30A9DE;
}

a:link {
	color: white;
}

a:visited {
	color: white ;
}

th {

	background-color: #D1B6E1;
	color: black;
	font size: 35px;
}

table {
	border-style: solid;
	border-color: #D1B6E1;
	border-collapse: separate;
	border-spacing: 10em;
	background-color: #D1B6E1;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;

}

#topspots {

	text-align:center;
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	background-image: url("https://wallpaperscraft.com/image/usa_road_san_-_diego_trees_palms_night_73533_3840x2160.jpg");
	background-size: cover;
	
	padding: 30px;
	color: #fff;
	font-weight: bold;
}

